<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
    <class name="com.lmspractice.HealthCheck"/>
      <class name="com.lmspractice.Login"/>
      <class name="com.lmspractice.GetAllCourseStructure"/>
      <class name="com.lmspractice.GetAllInstitutions"/>
      <class name="com.lmspractice.GetAllNotes"/>
      <class name="com.lmspractice.GetAllRoles"/>
      <class name="com.lmspractice.WithoutToken"/>
      <class name="com.lmspractice.CreateNote"/>
      <class name="com.lmspractice.GetNoteById"/>
      <class name="com.lmspractice.UpdateNote"/>
      <class name="com.lmspractice.DeleteNote"/>
    </classes>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
